<%- include('partial/header.ejs') %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md">
            <h3 class="mt-5 mb-2">Hi! I am Avash Grunge</h3>
            <p>Professional Fullstack web-developer/instructor</p>
        </div>
        <div class="col-md">
            <img class="img-fluid mt-4 mb-5" src="/public/images/fivimage.jpg" alt="profile-image" 
            style="max-width: 30%; border: 5px solid white; border-radius: 50%; margin: auto; display: block;" >
        </div>
        <div class="col-md">
          <div ><a class="fab fa-facebook-square btn-primary mt-5 text-center" href="https://www.facebook.com/admond.grunge" style="width: 10rem; height: 1.5rem;" ></a></div>
          <div><button class="fab fa-twitter-square btn-primary mt-2" style="width: 10rem; height: 1.5rem;" ></button></div>
          <div><button class="fab fa-linkedin btn-danger mt-2 text-dark " style="width: 10rem; height: 1.5rem;" ></button></div>  
        </div>
    </div>
</div>

<div class="container my-5">
  <p style="line-height: 2rem;">I’m a full Stack web developer and I have been developing many websites/web apps and apis.. I’m also the founder of CodeStar Academy and taught many new students online.
      I've spent many years to get an experience in the field of web development, and now I want to share my knowledge with people who have the same enthusiasm for coding! I’ve started to work as an Instructor recently and now I have hundreds of students from all over the world.
      I really enjoy my job and I'm ultra-passionate about education and helping people to change their career and life!
      </p>
      <p class="blockquote border border-dark text-center my-5">"If you have passion and/or determination, you will always get better, in progress make a way" By Avash Grunge</p>
</div>

<div class="container-fluid">
<span><img class="img-fluid" src="/public/images/mern-stack-banner.jpg" alt="mern-banner"></span>
</div>
<%- include('partial/footer.ejs') %>