<%- include('partial/header.ejs') %>
  <!--top display banner-->
  <div class="container-fluid">
    <div class="row bg-info">
      <div class="col-sm-4 pt-4">
        <h1 class="display-2 text-white mt-3">Learn Fullstack Web-development</h1>
        
        <p class="text-secondary bg-warning p-2" style="display: inline-block; font-weight: 600;"> A great chance to learn web-development in your home town, "Sisophon- Cambodia"</p>
        <hr style="visibility: hidden;">
        <a href="/about" class="btn btn-success" mb-5>Learn More ..</a>
        <hr style="visibility: hidden;">
      </div>
      <div class="col-sm-8">
        <img class="img-fluid mx-2" src="/public/images/top-banner.jpg" alt="students">
      </div>
    </div>
  </div>
  <!--top display banner end-->
  
<!-- info card banner-->
<div class="container-fluid bg-warning bg-gradient mt-2 m-1">
  <div class="row">
    <div class="col-sm">
      <div class="card m-3">
      <div class="row g-0 bg-danger text-white">
        <div class="col-md-4 display-3 ">
          <i class="fas fa-chalkboard-teacher text-white m-4" ></i>
        </div>
        <div class="col-md-8">
          <div class="card-body ">
            <h5 class="card-title">Learn Coding</h5>
            <p class="card-text">Learn how to build web applications and write high-quality code in this immersive Fullstack web-development Bootcamp program.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-sm">
      <div class="card m-3">
      <div class="row g-0 bg-danger text-white">
        <div class="col-md-4 display-3">
          <i class="fas fa-graduation-cap text-white m-4" ></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Get Certified</h5>
            <p class="card-text">As a graduate, you’ll walk away with a Professional Certificate from CodeStar Academy to verify your hard work and skills learned.
            </p>
            
          </div>
        </div>
      </div>
    </div></div>
    <div class="col-sm"><div class="card m-3">
      <div class="row g-0 bg-danger text-white">
        <div class="col-md-4 display-3">
          <i class="fas fa-glass-cheers text-white m-4" ></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Become Successful</h5>
            <p class="card-text">By the end of this course, you will be confident and fluently programming, and be ready to apply for web development jobs or start freelancing.</p>
            
          </div>
        </div>
      </div>
    </div></div>
  </div>  
</div>

<h2 class="text-center mt-5">BEST VALUE COURSE</h2>
<div class="container d-flex">
  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/public/images/cardimage1.jpg" alt="course bootcamp" style="width: 100%;">
        <img style="position: absolute; top: 0; left: 0; width:150px;"  src="/public/images/images.png" alt="">
        </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">The Complete Web-development Bootcamp- 2021</h5>
          <p class="card-text"><b class="mb-2">Become a fullstack web developer (and get a job) by taking this ONE course, even if you've never coded before.</b>
            Fullstack is one of the longest-running and most successful coding bootcamps in the World. Its graduates are equipped to succeed in the professional world through Fullstack's foundational teaching method, which allows students to thrive in their first job and every job after.
          </p>
        </div>
        <div class="d-flex price justify-content-around ">
          <h3>$ 150 /-Only.</h3>
          <p>12 Weeks <i class="fas fa-calendar-week"></i></p>
        </div>
        <div class="card-footer d-grid">
          <a href="/syllabus" class="btn btn-warning">Go to Course Syllabus</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container mb-3">
  
  <div class="row border border-dark">
    <h5 class="text-center">What you'll learn</h5> 
    <div class="col-md">      
      <ul style="list-style-type: '\2713';">       
        <li>Be able to build ANY website you want.</li>
        <li>Master backend development with Express and NodeJs</li>
        <li>Craft several projects to show off to your future employer as a junior developer.</li>
        <li>Master frontend development with HTML, CSS and JavaScript</li>
        <li>Learn professional developer best practices.</li>
        <li>Learn how to use your command line tools like a boss</li>
        <li>Learn how to make beautiful websites quickly with Bootstrap 5</li>
        <li>How websites and coding works behind the scenes</li>
      </ul>
    </div>
    <div class="col-md ">
      <ul style="list-style-type: '\2713';">
       <li>Build fully-fledged websites and web apps for your startup or business.</li> 
        <li>Learn the latest frameworks and technologies, including Javascript ES6+, Bootstrap 5, NodeJs, MongoDB,React and more.</li>
        <li>Work as a freelance web developer.</li>
        <li>Master backend development with NodeJs,Express, and MongoDB.</li>
        <li>Master frontend development with HTML, CSS and JavaScript</li>
        <li>Learn modern workflow using Git and Github</li>
        <li>You will learn about API's and RESTful API's</li>
        <li>Learn how to customize your text editor like a pro</li>
        
      </ul>
    </div>
  </div>
</div>

<div class="container mb-3">
  
  <div class="row border border-dark">
    <h5 class="text-center"> Requirements</h5> 
    <div class="col-md ">     
      <ul >       
        <li>No programming experience needed — I'll teach you everything you need to know</li>
        <li>No paid software required - all websites will be created with VS Code (which is free)
        </li>
        </ul>
        </div>
        <div class="col-md ">
          <ul><li>I'll walk you through, step-by-step how to get all the software installed and set up</li>
            <li>A Mac or PC computer with access to the internet, and basic English language.</li>
      </ul>          
    </div>         
    </div>
    </div>
    </div>


<div class="container">
  <h5 class="text-center">Description</h5>
  <p class="text-center">Welcome to the Ultimate 2021 Web Development Bootcamp,
     the only course you need to learn to code and become a full-stack web developer 
     and the only course that will prepare you for a career in web development.
     This web development course is extremely comprehensive, Even if you have zero programming experience, this course will take you from <b>beginner to coding ninja.</b>  Here's how:
    </p>
    <ul>
      <li>The course has been updated to be <b>2021 ready</b>  and you will be learning the latest tools, techniques and technologies used at large companies such as Instagram, Google, Apple, and YouTube.</li>
      <li>The course doesn't leave any stone unturned. Every lesson is hyper focused on one single subject, with most lessons having some form of "homework". And every module has a final project which will give you <b>real world coding experience.</b> </li>
      <li>I'll take you through every subject, every module and every lesson in a <b>step-by-step</b>  manner to teach you everything you need to know to succeed as a professional web developer.</li>
      
    </ul>
    <p class="blockquote-footer text-center mt-3"><b>You will learn the most in-demand languages and tools like React, NodeJs, JavaScript!</b></p>
</div>

<div class="container-fluid bg-warning ">
  <div class="row">
    <div class="col-sm text-center">
      <h1 class="display-1">Do you have any Questions?? </h1>
      <br>
      <h1 class="text-muted">Feel free to Contact us! </h1>
    </div>
    <div class="col-sm">
      <% if ( sessionFlash && sessionFlash.message) { %>
        <div class="alert alert-<%= sessionFlash.type %> alert-dismissible fade show text-center">
          <strong>Success</strong> <%= sessionFlash.message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
      <form action="/" method="POST" class="form-home" id="here">
        <div class="mb-3">
          <label for="name" class="form-label">Full Name</label>
          <input type="text" name="name" placeholder="your name" class="form-control isValid" id="validationDefault01" required>
        </div>
        <div class="mb-3">
          <label for="Email1" class="form-label isValid">Email address</label>
          <input type="email" placeholder="example@email.com" name="email" class="form-control" id="validationDefault02" aria-describedby="emailHelp" required>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="Telephone" class="form-label">Phnone</label>
          <input type="phone" name="phone" placeholder="012345678" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your Phone with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="messages" class="form-label">Write us</label>
          <textarea class="form-control isValid" name="message" id="validationDefault03" rows="5" placeholder="type your message here" required ></textarea>
        </div>
        <button type="submit"  class="btn btn-danger">Submit</button>       
      </form>
    </div>
  </div>
</div>
<%- include('partial/footer.ejs') %>
