<%- include('partial/header.ejs') %>
<div class="container">
  <img class="img-fluid" src="/public/images/devsyllabus.jpg" alt="">
  <img class="img-fluid" src="/public/images/devsyllabus2.jpg" alt="">
  <img class="img-fluid" src="/public/images/devsyllabus3.jpg" alt="">
  <img class="img-fluid" src="/public/images/devsyllabus4.jpg" alt="">
  <img class="img-fluid" src="/public/images/devsyllabus5.jpg" alt="">
</div>

<%- include('partial/footer.ejs') %>